<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Audionomy{% endblock %}</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    integrity="sha384-ENjdO4Dr2bkBIFxQJtnrmtKdesgKJrm44eLoZ1Pcos2rPTblB0rbx05y5QoNnNVD"
    crossorigin="anonymous"
  >
</head>
<body class="bg-light">
  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Audionomy</a>
    </div>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+G3ayF0tiVvvRPvtv8y+EjFf61cof"
    crossorigin="anonymous"
  ></script>
</body>
</html>
