{% extends 'audionomy_app/base.html' %}
{% block title %}Edit Entry - {{ entry.title }}{% endblock %}

{% block content %}
<div class="container">
  <h2>Edit Entry: {{ entry.title }}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-4 text-end">
      <button type="submit" class="btn btn-success">Save Changes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>
{% endblock %}
